; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2001 Reflective Computing.  All Rights Reserved.
; Wed Jul 11 07:58:00 2001
; CLOAD d6400.pcf

; tempow 10.4 Set 28.6   'T075348' connected to 'YELLOW1'
; KPCD 10.2 Set 28
; KSRV 10.3 Set 28.6 (Server 'YELLOW1         ' running on computer '')
; PCL 0.0     TEMPO 0.0
; ANALOGRESOLUTION=16
; WARNING=2
; SPEED=1000.000000  PROSPEED=200.000000  (100/100000 Sec/SampleSet)
; ASETS=5(5)  CSETS=5(5)  ESETS=5(5)
; ACHANNELS=8
; CCHANNELS=15
; ECHANNELS=4
;
;                  Protocol Usage of Kernel Resources  
;
; Parameter       Limit   Used     Pct     Bytes/Total    Develop  Stable
; -------------   ------- ------- -----    -----------    -------  ------
; PROCESSES       =40         5    13%       120/960        =7      =5    
; INSTRUCTIONS    =400       42    11%       756/7200       =60     =44   
; SYMBOLTABLE     =400       51    13%       612/4800       =60     =54   
; HASHTABLE       =  127,400       33%      1554/3162     Use Kernel Default
; NAMETABLE       =2000     448    22%       448/2000       =527    =472  
; DATABASES       =40         0     0%         0/2400       =0      =0    
; ARRAYTABLE      =1000       0     0%         0/1000       =0      =0    
; OBJECTS         =0          0     0%         0/0          =0      =0    

SPEED 1000

; ANALOG TABLE SETTINGS
;; ACHANNELS=8

; SPIKE TABLE SETTINGS
;; CCHANNELS=15

; EVENT TABLE SETTINGS
;; ECHANNELS=4

PLOAD d6400.pro

; DATABASES=40


; BEGIN GRAPH CONFIGURATION

SCREENRES 1600,1200,8
MAINWND 1,0,0,-1,-1,5,0,782,61,0
MSGWND 1,750,1152,-1,-1,29,86,965,587,0
STATUSWND 1,500,1152,-1,-1,1025,100,1563,1154,0
SHOW v 0

CMDWND 1,0,1152,-1,-1,1066,2,1488,63,0

; DATABASES PAGES & VIEWS

DBPCOLORS 0xFFFFFF,0x0,0x0,0xFF0000,0xFF

; END GRAPH CONFIGURATION

; DIALOGS

SCREENRES 1600,1200,8

; END OF DIALOGS

