; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2001 Reflective Computing.  All Rights Reserved.
; Wed Jul 25 07:42:15 2001
; CLOAD diotest.pcf

; tempow 10.5 Set 28.6   'T071358' connected to 'YELLOW1'
; KBTD 10.5 Set 28
; KSRV 10.3 Set 28.6 (Server 'YELLOW1         ' running on computer '')
; PCL 0.0     TEMPO 0.0
; ANALOGRESOLUTION=12
; WARNING=2
; SPEED=1.000000  PROSPEED=0.200000  (100000/100000 Sec/SampleSet)
; ASETS=5(5)  CSETS=5(5)  ESETS=5(5)
; ACHANNELS=8
; CCHANNELS=4
; ECHANNELS=2
;
;                  Protocol Usage of Kernel Resources  
;
; Parameter       Limit   Used     Pct     Bytes/Total    Develop  Stable
; -------------   ------- ------- -----    -----------    -------  ------
; PROCESSES       =64         2     3%        48/1536       =3      =2    
; INSTRUCTIONS    =700       16     2%       288/12600      =23     =17   
; SYMBOLTABLE     =700       26     4%       312/8400       =31     =27   
; HASHTABLE       =  257,700       37%      3102/5742     Use Kernel Default
; NAMETABLE       =8000     274     3%       274/8000       =322    =288  
; DATABASES       =40         0     0%         0/2400       =0      =0    
; ARRAYTABLE      =4100       0     0%         0/4100       =0      =0    
; OBJECTS         =0          0     0%         0/0          =0      =0    

SPEED 1000

; ANALOG TABLE SETTINGS
;; ACHANNELS=8

; SPIKE TABLE SETTINGS
;; CCHANNELS=4

; EVENT TABLE SETTINGS
;; ECHANNELS=2

PLOAD diotest.pro

; DATABASES=40


; BEGIN GRAPH CONFIGURATION

SCREENRES 1600,1200,8
MAINWND 3,0,0,-1,-1,809,0,1604,55,0
MSGWND 1,-1,-1,-1,-1,915,766,1600,1154,0
STATUSWND 1,-1,-1,-1,-1,0,695,800,1154,0
SHOW v 0

CMDWND 1,0,1171,-1,-1,1075,56,1599,117,0

; DATABASES PAGES & VIEWS

DBPCOLORS 0xFFFFFF,0x0,0x0,0xFF0000,0xFF

; END GRAPH CONFIGURATION

; DIALOGS

SCREENRES 1600,1200,8

; END OF DIALOGS

