; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2003 Reflective Computing.  All Rights Reserved.
; This file was created by TEMPO and should not be edited directly by the user.
; The commands in this file are undocumented and subject to change in future releases.
; Wed Jan 29 08:57:21 2003
; CLOAD event.pcf

; tempow 10.15 Set 33.9   'T081530' connected to 'YELLOW1'
; KPED 10.19 Set 33
; KSRV 10.16 Set 33.9 (Server 'YELLOW1         ' running on computer '')
; PCL 0.0     TEMPO 0.0
; ANALOGRESOLUTION=12
; WARNING=2
; SPEED=1000.000000  PROSPEED=200.000000  (100/100000 Sec/SampleSet)
; ASETS=5(5)  CSETS=5(5)  ESETS=5(5)
; ACHANNELS=16
; CCHANNELS=5
; ECHANNELS=4
;
;                          Protocol Usage of Kernel Resources  
;
; Parameter       Limit          Used    Pct        Bytes/Total        Develop    Stable
; -------------   -------     -------  -----        -----------        -------    ------
; PROCESSES       =40               3     8%           72/960           =4         =3       
; INSTRUCTIONS    =400             38     9%          674/7200          =48        =40      
; SYMBOLTABLE     =400             65    16%          780/4800          =76        =68      
; HASHTABLE       =     127,400          36%         1614/3162        Use Kernel Default
; NAMETABLE       =2000           726    36%          726/2000          =854       =764     
; DATABASES       =40               0     0%            0/2400          =0         =0       
; ARRAYTABLE      =1000            26     3%           26/1000          =33        =27      
; ARRAYDATA       =131072         176     0%          176/131072        =220       =181     
; OBJECTS         =0                0     0%            0/0             =0         =0       

LOG event.log
SPEED 1000

; ANALOG TABLE SETTINGS
;; ACHANNELS=16

; SPIKE TABLE SETTINGS
;; CCHANNELS=5

; EVENT TABLE SETTINGS
;; ECHANNELS=4

PLOAD event.pro

; DATABASES=40


; BEGIN GRAPH CONFIGURATION

SCREENRES 1920,1200,16
MAINWND 1,-1,-1,-1,-1,3,-2,742,56,0
MSGWND 1,-1,-1,-1,-1,14,123,877,734,0
STATUSWND 1,-1,-1,-1,-1,-1,746,892,1198,0
SHOW s 0

CMDWND 1,0,1171,-1,-1,610,59,881,122,0

; DATABASES PAGES & VIEWS

DBPCOLORS 0xFFFFFF,0x0,0x0,0xFF0000,0xFF

; END GRAPH CONFIGURATION

; DIALOGS

SCREENRES 1920,1200,16

; END OF DIALOGS

