; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2001 Reflective Computing.  All Rights Reserved.
; Wed Jul 25 11:01:05 2001
; CLOAD grow.pcf

; tempow 10.5 Set 28.6   'T105825' connected to 'YELLOW1'
; KBTD 10.5 Set 28
; KSRV 10.4 Set 28.6 (Server 'YELLOW1         ' running on computer '')
; PCL 10.4     TEMPO 10.2
; ANALOGRESOLUTION=12
; WARNING=2
; SPEED=1000.000000  PROSPEED=200.000000  (100/100000 Sec/SampleSet)
; ASETS=5(5)  CSETS=5(5)  ESETS=5(5)
; ACHANNELS=16
; CCHANNELS=4
; ECHANNELS=2
;
;                  Protocol Usage of Kernel Resources  
;
; Parameter       Limit   Used     Pct     Bytes/Total    Develop  Stable
; -------------   ------- ------- -----    -----------    -------  ------
; PROCESSES       =64         1     2%        24/1536       =1      =1    
; INSTRUCTIONS    =700       45     6%       810/12600      =64     =47   
; SYMBOLTABLE     =700       49     7%       588/8400       =58     =52   
; HASHTABLE       =  257,700       38%      3144/5742     Use Kernel Default
; NAMETABLE       =8000     329     4%       329/8000       =387    =346  
; DATABASES       =40         0     0%         0/2400       =0      =0    
; ARRAYTABLE      =4100       0     0%         0/4100       =0      =0    
; OBJECTS         =32         6    19%       264/1408       =7      =6    

SPEED 1000

; ANALOG TABLE SETTINGS
;; ACHANNELS=16

; SPIKE TABLE SETTINGS
;; CCHANNELS=4

; EVENT TABLE SETTINGS
;; ECHANNELS=2

PLOAD grow.pro

; DATABASES=40


; BEGIN GRAPH CONFIGURATION

SCREENRES 1600,1200,8
MAINWND 1,-1,-1,-1,-1,830,3,1604,65,0
MSGWND 1,-1,-1,-1,-1,1000,1014,1600,1154,0
STATUSWND 1,-1,-1,-1,-1,22,572,640,983,0
SHOW v 0

CMDWND 1,-1,-1,-1,-1,509,12,804,73,0
ANIMPAGE 0x1,1,-1,-1,-1,-1,0,74,745,547,0
ANIMVIEW 0,1,-1,-1,-1,-1,0,0,367,440,0
ANIMVIEW 1,1,-1,-1,-1,-1,367,0,734,440,1

; DATABASES PAGES & VIEWS

DBPCOLORS 0xFFFFFF,0x0,0x0,0xFF0000,0xFF

; END GRAPH CONFIGURATION

; DIALOGS

SCREENRES 1600,1200,8

; END OF DIALOGS

