; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2001 Reflective Computing.  All Rights Reserved.
; Wed Jul 25 11:04:32 2001
; CLOAD journal.pcf

; tempow 10.5 Set 28.6   'T110401' connected to 'YELLOW1'
; KBTD 10.5 Set 28
; KSRV 10.4 Set 28.6 (Server 'YELLOW1         ' running on computer '')
; PCL 10.4     TEMPO 10.2
; ANALOGRESOLUTION=12
; WARNING=2
; SPEED=1000.000000  PROSPEED=200.000000  (100/100000 Sec/SampleSet)
; ASETS=5(5)  CSETS=5(5)  ESETS=5(5)
; ACHANNELS=16
; CCHANNELS=4
; ECHANNELS=2
;
;                  Protocol Usage of Kernel Resources  
;
; Parameter       Limit   Used     Pct     Bytes/Total    Develop  Stable
; -------------   ------- ------- -----    -----------    -------  ------
; PROCESSES       =64         1     2%        24/1536       =1      =1    
; INSTRUCTIONS    =700        8     1%       144/12600      =11     =8    
; SYMBOLTABLE     =700       20     3%       240/8400       =24     =21   
; HASHTABLE       =  257,700       37%      3096/5742     Use Kernel Default
; NAMETABLE       =8000     405     5%       405/8000       =476    =426  
; DATABASES       =40         0     0%         0/2400       =0      =0    
; ARRAYTABLE      =4100       0     0%         0/4100       =0      =0    
; OBJECTS         =0          0     0%         0/0          =0      =0    

SPEED 1000

; ANALOG TABLE SETTINGS
;; ACHANNELS=16

; SPIKE TABLE SETTINGS
;; CCHANNELS=4

; EVENT TABLE SETTINGS
;; ECHANNELS=2

PLOAD journal.pro

; DATABASES=40


; BEGIN GRAPH CONFIGURATION

SCREENRES 1600,1200,8
MAINWND 1,-1,-1,-1,-1,694,5,1602,64,0
MSGWND 1,-1,-1,-1,-1,1000,1014,1600,1154,0
STATUSWND 1,-1,-1,-1,-1,34,750,794,1174,0
SHOW s 0

CMDWND 1,-1,-1,-1,-1,397,4,692,65,0

; DATABASES PAGES & VIEWS

DBPCOLORS 0xFFFFFF,0x0,0x0,0xFF0000,0xFF

; END GRAPH CONFIGURATION

; DIALOGS

SCREENRES 1600,1200,8

; END OF DIALOGS

