; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2001 Reflective Computing.  All Rights Reserved.
; Fri Apr 01 08:59:04 2009
; CLOAD monkey.pcf


SPEED 1000

; ANALOG TABLE SETTINGS
;; ACHANNELS=16

; SPIKE TABLE SETTINGS
;; CCHANNELS=4

; EVENT TABLE SETTINGS
;; ECHANNELS=2

PLOAD monkey.pro

; DATABASES=40


; BEGIN GRAPH CONFIGURATION

SCREENRES 1600,1200,8
MAINWND 1,-1,-1,-1,-1,699,2,1602,75,0
MSGWND 1,-1,-1,-1,-1,1000,1014,1600,1154,0
STATUSWND 1,-1,-1,-1,-1,35,756,679,1148,0
SHOW s 0

CMDWND 1,-1,-1,-1,-1,397,10,692,71,0

; DATABASES PAGES & VIEWS

DBPCOLORS 0x0,0x0,0x0,0x0,0x0

; END GRAPH CONFIGURATION

; DIALOGS

SCREENRES 1600,1200,8

; END OF DIALOGS


; BEGIN KEY DEFINITIONS

KEY F1 = waiting=0{cr}

; END KEY DEFINITIONS

