; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2001 Reflective Computing.  All Rights Reserved.
; Fri Jul 27 10:20:02 2001
; CLOAD vspursue.pcf

; tempow 10.5 Set 28.6   'T101837' connected to 'YELLOW1'
; KBTD 10.5 Set 28
; KSRV 10.4 Set 28.6 (Server 'YELLOW1         ' running on computer '')
; PCL 10.4     TEMPO 10.2
; ANALOGRESOLUTION=12
; WARNING=2
; SPEED=1000.000000  PROSPEED=200.000000  (100/100000 Sec/SampleSet)
; ASETS=5(5)  CSETS=5(5)  ESETS=5(5)
; ACHANNELS=16
; CCHANNELS=4
; ECHANNELS=2
;
;                  Protocol Usage of Kernel Resources  
;
; Parameter       Limit   Used     Pct     Bytes/Total    Develop  Stable
; -------------   ------- ------- -----    -----------    -------  ------
; PROCESSES       =64         4     6%        96/1536       =6      =4    
; INSTRUCTIONS    =700       31     4%       558/12600      =44     =33   
; SYMBOLTABLE     =700       57     8%       684/8400       =67     =60   
; HASHTABLE       =  257,700       37%      3108/5742     Use Kernel Default
; NAMETABLE       =8000     447     6%       447/8000       =526    =471  
; DATABASES       =40         0     0%         0/2400       =0      =0    
; ARRAYTABLE      =4100      68     2%        68/4100       =85     =70   
; OBJECTS         =0          0     0%         0/0          =0      =0    

SPEED 1000

; ANALOG TABLE SETTINGS
;; ACHANNELS=16

; SPIKE TABLE SETTINGS
;; CCHANNELS=4

; EVENT TABLE SETTINGS
;; ECHANNELS=2

PLOAD vspursue.pro

; DATABASES=40


; BEGIN GRAPH CONFIGURATION

SCREENRES 1600,1200,8
MAINWND 1,-1,-1,-1,-1,722,4,1609,78,0
MSGWND 1,-1,-1,-1,-1,1000,1014,1600,1154,0
STATUSWND 1,-1,-1,-1,-1,97,665,739,1149,0
SHOW s 0

CMDWND 1,-1,-1,-1,-1,419,9,714,70,0

; DATABASES PAGES & VIEWS

DBPCOLORS 0x0,0x0,0x0,0x0,0x0

; END GRAPH CONFIGURATION

; DIALOGS

SCREENRES 1600,1200,8

; END OF DIALOGS

