; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2001 Reflective Computing.  All Rights Reserved.
; Fri Jul 27 15:41:03 2001
; CLOAD vstest1.pcf

; tempow 10.5 Set 28.6   'T153826' connected to 'YELLOW1'
; KBTD 10.5 Set 28
; KSRV 10.4 Set 28.6 (Server 'YELLOW1         ' running on computer '')
; PCL 10.4     TEMPO 10.2
; ANALOGRESOLUTION=12
; WARNING=2
; SPEED=1000.000000  PROSPEED=200.000000  (100/100000 Sec/SampleSet)
; ASETS=5(5)  CSETS=5(5)  ESETS=5(5)
; ACHANNELS=16
; CCHANNELS=4
; ECHANNELS=2
;
;                  Protocol Usage of Kernel Resources  
;
; Parameter       Limit   Used     Pct     Bytes/Total    Develop  Stable
; -------------   ------- ------- -----    -----------    -------  ------
; PROCESSES       =64         3     5%        72/1536       =4      =3    
; INSTRUCTIONS    =700       36     5%       648/12600      =51     =38   
; SYMBOLTABLE     =700       50     7%       600/8400       =59     =53   
; HASHTABLE       =  257,700       38%      3144/5742     Use Kernel Default
; NAMETABLE       =8000     435     5%       435/8000       =512    =458  
; DATABASES       =40         2     5%       120/2400       =2      =2    
; ARRAYTABLE      =4100       0     0%         0/4100       =0      =0    
; OBJECTS         =0          0     0%         0/0          =0      =0    

SPEED 1000

; ANALOG TABLE SETTINGS
;; ACHANNELS=16

; SPIKE TABLE SETTINGS
;; CCHANNELS=4

; EVENT TABLE SETTINGS
;; ECHANNELS=2

PLOAD vstest1.pro

; DATABASES=40

HOPEN  1,7,1,1,2,50,2000,500,0,0,0x0
HTITLE 1,"Eye position"
HOPEN  2,3,1,1,2,50,2000,500,0,0,0x0
HTITLE 2,"Spike activity"

; BEGIN GRAPH CONFIGURATION

SCREENRES 1600,1200,8
MAINWND 1,-1,-1,-1,-1,728,1,1603,63,0
MSGWND 1,-1,-1,-1,-1,872,1014,1600,1174,0
STATUSWND 1,-1,-1,-1,-1,19,714,823,1203,0
SHOW h 0

CMDWND 1,-1,-1,-1,-1,430,1,725,62,0

; DATABASES PAGES & VIEWS

DBPCOLORS 0xFFFFFF,0x0,0x0,0xFF0000,0xFF

DBPAGE 0,0x1,"Database Page 0"
DBPPOS 0,1,-1,-1,-1,-1,798,165,1598,765,0
DBVIEW  0,0,1,10,2000,0,2,0,0,0,0x0
DBVPOS  0,0,1,-1,-1,-1,-1,0,0,790,283,0
DBVCOLORS 0,0,0xFFFFFF,0x0,0x0,0xFF0000,0xFF
DBVIEW  0,1,2,10,2000,0,2,0,0,0,0x0
DBVPOS  0,1,1,-1,-1,-1,-1,0,283,790,566,1
DBVCOLORS 0,1,0xFFFFFF,0x0,0x0,0xFF0000,0xFF

; END GRAPH CONFIGURATION

; DIALOGS

SCREENRES 1600,1200,8

; END OF DIALOGS

