; vstest2.cfg Protocol configuration file
; Mon Jan 16 09:49:25 1995
; Visual TEMPO 7.11  KERNEL 7.13.12  PCL 7.12
; Copyright 1991 Reflective Computing

; Analog Acquisition Rate (in Hz)
;; ANALOG12=YES
;; ASETS=5,5
;; CSETS=5,5

SPEED=1000.00000

; Analog Table
;; ACHANNELS=16
;; AMUXES=0

; Counter Table
;; CCHANNELS=2

; Event Table
;; ECHANNELS=2

; Protocol File
;; PROCESSES=100 (2%)
;; INSTRUCTIONS=600 (3%)
;; SYMBOLTABLE=256 (8%)
;; NAMETABLE=3000 (5%)
;; HASHTABLE=127,256 (50%)
;; ARRAYTABLE=0,8000 (0%)

PLOAD=vstest2.pro

; Databases
;; DATABASES=100 (0%)

; Color Graphs

GROWS=2
GCOLS=2
GCOLORS=0,15,7,10,7
