; TEMPO PROTOCOL CONFIGURATION FILE
; Copyright 1997-2001 Reflective Computing.  All Rights Reserved.
; Fri Jul 27 15:55:37 2001
; CLOAD vswordep.pcf

; tempow 10.5 Set 28.6   'T153826' connected to 'YELLOW1'
; KBTD 10.5 Set 28
; KSRV 10.4 Set 28.6 (Server 'YELLOW1         ' running on computer '')
; PCL 10.4     TEMPO 10.2
; ANALOGRESOLUTION=12
; WARNING=2
; SPEED=500.000000  PROSPEED=100.000000  (200/100000 Sec/SampleSet)
; ASETS=5(5)  CSETS=5(5)  ESETS=5(5)
; ACHANNELS=16
; CCHANNELS=4
; ECHANNELS=2
;
;                  Protocol Usage of Kernel Resources  
;
; Parameter       Limit   Used     Pct     Bytes/Total    Develop  Stable
; -------------   ------- ------- -----    -----------    -------  ------
; PROCESSES       =64         2     3%        48/1536       =3      =2    
; INSTRUCTIONS    =700       18     3%       324/12600      =26     =19   
; SYMBOLTABLE     =700       24     3%       288/8400       =28     =25   
; HASHTABLE       =  257,700       37%      3096/5742     Use Kernel Default
; NAMETABLE       =8000     194     2%       194/8000       =228    =204  
; DATABASES       =40         2     5%       120/2400       =2      =2    
; ARRAYTABLE      =4100      10     0%        10/4100       =13     =10   
; OBJECTS         =32         0     0%         0/1408       =0      =0    

SPEED 500

; ANALOG TABLE SETTINGS
;; ACHANNELS=16

; SPIKE TABLE SETTINGS
;; CCHANNELS=4

; EVENT TABLE SETTINGS
;; ECHANNELS=2

PLOAD vswordep.pro

; DATABASES=40

HOPEN  1,0,1,1,16,20,500,250,0,0,0x0
HTITLE 1,"Realtime average"
HOPEN  2,7,1,1,16,20,500,250,0,0,0x0
HTITLE 2,"Appended EEG"

; BEGIN GRAPH CONFIGURATION

SCREENRES 1600,1200,8
MAINWND 1,-1,-1,-1,-1,722,4,1609,69,0
MSGWND 1,-1,-1,-1,-1,872,1014,1600,1174,0
STATUSWND 1,-1,-1,-1,-1,20,699,715,1173,0
SHOW s 0

CMDWND 1,-1,-1,-1,-1,419,9,714,70,0
ANIMPAGE 0x1,1,-1,-1,-1,-1,137,281,704,646,0
ANIMVIEW 0,1,-1,-1,-1,-1,0,0,278,332,0
ANIMVIEW 1,1,-1,-1,-1,-1,278,0,556,332,1

; DATABASES PAGES & VIEWS

DBPCOLORS 0x0,0x0,0x0,0x0,0x0

DBPAGE 0,0x1,"Database Page 0"
DBPPOS 0,1,-1,-1,-1,-1,728,155,1528,755,0
DBVIEW  0,0,1,10,250,0,16,0,0,0,0x0
DBVPOS  0,0,1,-1,-1,-1,-1,0,0,790,283,0
DBVCOLORS 0,0,0x0,0x0,0x0,0x0,0x0
DBVIEW  0,1,2,10,250,0,16,0,0,0,0x0
DBVPOS  0,1,1,-1,-1,-1,-1,0,283,790,566,1
DBVCOLORS 0,1,0x0,0x0,0x0,0x0,0x0

; END GRAPH CONFIGURATION

; DIALOGS

SCREENRES 1600,1200,8

; END OF DIALOGS

